body{
   background-color: #A9D0F5;
}
 
h1{
   color:black;
   text-shadow : 3px 3px white, -3px -3px white, 0px 3px white, 3px 0px white, -3px 0px white, 0px -3px white, -3px 3px white, 3px -3px white;   
   text-align: center;
}
 
 
.weather_title{
   font-size:40px;
   margin-left: 15px;
   margin-top: 100px;
   margin-bottom: 5px;
   color:brown;
   text-shadow : 1px 1px white, -1px -1px white, 0px 1px white, 1px 0px white, -1px 0px white, 0px -1px white, -1px 1px white, 1px -1px white;   
}
 
.Temper div, .Humid div{
   border:4px yellow double;
   border-top:none;
   border-bottom:none;
}
 
#reload{
   border:none;
   float: right;
}
 
#reloadbutton{
   font-size: 30px;
   padding: 10px 20px;
}
 
.Temper {
   text-align: center;
   border:5px yellow double;
   font-size: 60px;
   text-shadow : 3px 3px white, -3px -3px white, 0px 3px white, 3px 0px white, -3px 0px white, 0px -3px white, -3px 3px white, 3px -3px white;   
   color:red;
   display: grid;
   grid-template-columns: 1fr 1fr;
}
 
.Humid {
   text-align: center;
   border:5px yellow double;
   font-size: 60px;
   text-shadow : 3px 3px white, -3px -3px white, 0px 3px white, 3px 0px white, -3px 0px white, 0px -3px white, -3px 3px white, 3px -3px white;   
   color: powderblue;
   display: grid;
   grid-template-columns: 1fr 1fr;
}
 
 
 
#time {
   font-size: 25px;
   font-weight: bold;
   color : white;
}
 
 
 
.weather{
   background-color: white;
   display: inline-grid;
   grid-template-columns: 150px 150px;
}
 
#cTemper div{
   font-size: 30px;
   font-weight: bold;
   color:red;
   text-align: center;
   padding-bottom: 10px;
   padding-top: 10px;
   border: 4px brown double;
}
 
#cHumid div{
   font-size: 30px;
   font-weight: bold;
   color:blue;
   text-align: center;
   padding-bottom: 10px;
   padding-top: 10px;
   border: 4px brown double;
}
 
 
 
 
/*19.06.09 권재훈 추가*/
 .top_line{
    border-top: 4px solid white;
   border-radius: 150%;
 }
 .bottom_line{
   border-top: 4px solid white;
   border-radius: 150%;
   width: 50%;
   left: 26%;
   position: absolute;
   bottom: 40%;
}
 
.top{   
   margin-top: 10%;
   
   border-radius: 5%;
   max-width: 50%;
   margin: auto;
   margin-top: 5%;
   text-align: center;
}
.cont{
   margin-top: 4%;
   background-color: white;
   float: left;
   width: 20%;
   text-align: center;
   background-color: #CEE3F6;
 
   /*border작업*/
   border: 1px solid white;
   border-radius: 15px;
   box-shadow: 2px 2px white;
   border-right: none;
   border-bottom: none;
 
 
   /*웹킷 : 확대 축소 서서히*/
   -webkit-transition-duration: .5s;
    transition-duration: .5s;
    
    -webkit-transform: scale(1.0);
    transform: scale(1.0);

    font-family: 나눔고딕,NanumGothic,돋움,Dotum;
    
    cursor: pointer;
}
.cont:hover{
   transform: scale(1.2);
}
.cont_left{
   margin-left: 28%;
   position: static;
}
.cont_right{
   margin-left: 5%;
}

 